Source: kf6-karchive
Section: libs
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Aurélien COUDERC <coucouf@debian.org>,
           Patrick Franz <deltaone@debian.org>,
Build-Depends: debhelper-compat (= 13),
               dh-sequence-kf6,
               dh-sequence-pkgkde-symbolshelper,
               cmake (>= 3.16~),
               doxygen,
               extra-cmake-modules (>= 6.10.0~),
               libbz2-dev,
               liblzma-dev,
               libzstd-dev,
               pkgconf,
               qt6-base-dev (>= 6.6.0~),
               qt6-tools-dev (>= 6.5.0~),
               zlib1g-dev,
               zstd <!nocheck>,
Standards-Version: 4.7.0
Homepage: https://invent.kde.org/frameworks/karchive
Vcs-Browser: https://salsa.debian.org/qt-kde-team/kde/kf6-karchive
Vcs-Git: https://salsa.debian.org/qt-kde-team/kde/kf6-karchive.git
Rules-Requires-Root: no

Package: libkf6archive-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: data files for karchive
 Karchive is a Qt 6 addon providing access to numerous types of archives.
 .
 KArchive provides classes for easy reading, creation and manipulation of
 "archive" formats like ZIP and TAR.
 .
 It also provides transparent compression and decompression of data, like the
 GZip format, via a subclass of QIODevice.
 .
 This package is part of KDE Frameworks 6.
 .
 This package contains the data files.

Package: libkf6archive-dev
Section: libdevel
Architecture: any
Depends: libkf6archive6 (= ${binary:Version}),
         qt6-base-dev (>= 6.6.0~),
         ${misc:Depends},
Recommends: libkf6archive-doc (= ${source:Version}),
Description: development files for karchive
 Karchive is a Qt 6 addon providing access to numerous types of archives.
 .
 KArchive provides classes for easy reading, creation and manipulation of
 "archive" formats like ZIP and TAR.
 .
 It also provides transparent compression and decompression of data, like the
 GZip format, via a subclass of QIODevice.
 .
 This package is part of KDE Frameworks 6.
 .
 This package contains the development files.

Package: libkf6archive-doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Qt 6 addon providing access to numerous types of archives (documentation)
 KArchive provides classes for easy reading, creation and manipulation of
 "archive" formats like ZIP and TAR.
 .
 It also provides transparent compression and decompression of data, like the
 GZip format, via a subclass of QIODevice.
 .
 This package is part of KDE Frameworks 6.
 .
 This package contains the qch documentation files.
Section: doc

Package: libkf6archive6
Architecture: any
Multi-Arch: same
Depends: libkf6archive-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Qt 6 addon providing access to numerous types of archives
 KArchive provides classes for easy reading, creation and manipulation of
 "archive" formats like ZIP and TAR.
 .
 It also provides transparent compression and decompression of data, like the
 GZip format, via a subclass of QIODevice.
 .
 This package is part of KDE Frameworks 6.
